<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Ecommerce</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <nav class="navbar">
        <a href="/"><img src="./img/logo.png" alt="Logo" class="logo"></a>
        <ul class="nav-links">
            <li><a href="/">Inicio</a></li>
        </ul>
        <div class="cart-container"> 
            <img src="./img/cart.png" alt="Carrito" class="cart">
            <a href="/cart" >Carrito</a>
        </div>
        
    </nav>
    {{{body}}}
</body>
</html>